---
import BaseLayout from "@/layouts/BaseLayout.astro";
import PostList from "@/components/PostList.astro";
import { getBlogPosts } from "@/lib/ghost";
import Button from "@/components/Button.svelte";
import { ChevronLeft, ChevronRight } from "lucide-react";

export const prerender = true;

export async function getStaticPaths({ paginate }) {
	const allPosts = await getBlogPosts({
		title: true,
		slug: true,
		feature_image: true,
		excerpt: true,
		published_at: true,
	});
	const pageSize = 6;

	return paginate(allPosts, { pageSize });
}

interface PageData {
	data: any;
	page: any;
}

const { page } = Astro.props as PageData;
---

<BaseLayout
	title="Archive"
	description="Archive of all posts on Kafkaesque Blog"
>
	<div class="flex flex-col w-full dark:bg-gray-800 dark:text-white">
		<div
			class="flex flex-col items-center max-w-screen-lg px-4 py-20 mx-auto"
		>
			<h1 class="font-bold text-7xl">Blog</h1>
			<p class="my-3 mb-8 text-2xl font-semibold text-gray-500">
				All my writing in one place.
			</p>
			<PostList posts={page.data} />
			<nav aria-label="Pagination" class="flex w-full mt-8">
				{
					page.url.prev ? (
						<Button href={page.url.prev} color="#10B981">
							<ChevronLeft className="mr-2 h-4 w-4" />
							Previous Page
						</Button>
					) : (
						<span class="flex-grow" />
					)
				}
				{
					page.url.next && (
						<Button
							href={page.url.next}
							color="#10B981"
							className="ml-auto"
						>
							Next Page
							<ChevronRight className="ml-2 h-4 w-4" />
						</Button>
					)
				}
			</nav>
		</div>
	</div>
</BaseLayout>
