---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout title="Jacob Weinbren" description="An introduction to Jacob">
	<div class="flex flex-col">
		<div class="py-10">
			<div class="flex flex-col max-w-4xl gap-4 px-10 mx-auto">
				<h1 class="text-4xl font-bold">Crafting the Future Together</h1>
				<p>
					Hi - I'm Jacob Weinbren, a keen developer, writer, and
					storyteller through data. My professional journey covers a
					range of front-end and back-end development skills, with a
					keen eye on creating accessible, high-quality, and
					performance-driven digital experiences. Dive into <a
						href="/projects">my portfolio</a
					>
					or explore my thoughts at <a
						href="https://www.thesocialreview.co.uk/author/jacobweinbren/"
						>The Social Review</a
					>.
				</p>
				<p>
					Reach out via email at <a
						href="mailto:jacobweinbren@gmail.com"
						>jacobweinbren@gmail.com</a
					>. Let's connect on <a
						href="https://github.com/JacobWeinbren">GitHub</a
					> too!
				</p>
			</div>
		</div>
		<div class="py-10 bg-green-100 dark:bg-green-800">
			<div class="flex flex-col max-w-4xl gap-4 px-10 mx-auto">
				<h2 class="text-3xl font-bold">My Toolbox</h2>
				<p>
					Experienced with an extensive array of technologies such as
					Git, PHP, HTML, CSS, JavaScript, React, Svelte, Next.js,
					WordPress for the web, and Python and Java for the backend,
					I've always been keen to leverage the latest in technology
					to ensure projects meet the latest standards - be it in
					mobile responsiveness, accessibility or SEO. My expertise
					doesn't stop there; I'm also proficient in Docker, AWS,
					MySQL, and Google Analytics, with a passion for bringing
					data to life through visualisation. I am constantly learning
					and willing to adjust to what is needed for the task.
				</p>
			</div>
		</div>
		<div class="py-10">
			<div class="flex flex-col max-w-4xl gap-4 px-10 mx-auto">
				<h2 class="text-3xl font-bold">
					Projects That Make a Difference
				</h2>
				<p>
					Whether breaking barriers with the Hebrew Transliteration
					and Duolingo Flashcards project or shedding light on
					sociopolitical trends through the Israeli Elections
					visualisation, my projects aim to inform, engage, and
					inspire.
				</p>
			</div>
		</div>
		<div class="py-10 bg-green-100 dark:bg-green-800">
			<div class="flex flex-col max-w-4xl gap-4 px-10 mx-auto">
				<h2 class="text-3xl font-bold">Education as a Foundation</h2>
				<p>
					With a BA in English from Exeter University, my academic
					background enriches my technical skills with a deep
					appreciation for narrative, culture, and communication,
					enabling me to approach projects with a unique perspective.
				</p>
			</div>
		</div>
		<div class="py-10">
			<div class="flex flex-col max-w-4xl gap-4 px-10 mx-auto">
				<h2 class="text-3xl font-bold">Let's Innovate Together</h2>
				<p>
					I'm on a mission to create digital solutions that are not
					just innovative but also distinctive, accessible and
					impactful. Whether you're looking to bring a groundbreaking
					application to life, enhance your digital presence with a
					state-of-the-art website, or unlock new insights through
					data visualisation, I can help. My code is not just about
					functionality; it's about future-proofing, performance, and
					pushing the boundaries of what's possible.
				</p>
				<p>
					Have you got an idea or a challenge that fits the bill? I'm
					all ears. Let's collaborate to make something great.
				</p>
				<p>
					Get in touch: <a href="mailto:jacobweinbren@gmail.com"
						>jacobweinbren@gmail.com</a
					>
				</p>
			</div>
		</div>
	</div>
</BaseLayout>
