---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { getBlogPosts } from "@/lib/ghost"; // Updated import

const posts = await getBlogPosts({ title: true, slug: true }, 10);
---

<BaseLayout title="Kafkaesque Blog">
	{
		posts?.map((post) => (
			<a href={`/post/${post.slug}`}>
				<h1>{post.title}</h1>
			</a>
		))
	}
</BaseLayout>
