---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout title="Jacob Weinbren" description="An introduction to Jacob">
	<h1 class="text-5xl">Hi, I'm Jacob Weinbren</h1>
	<h2 class="text-2xl mt-4">A coder, blogger, and data storyteller.</h2>
	<div class="max-w-3xl">
		<p class="text-lg mt-4">
			Keen to see what I've been up to? Take a peek at my <a
				href="/projects"
				class="font-semibold underline">projects</a
			>. Or, for my thoughts and musings, why not look at my <a
				href="/blog"
				class="font-semibold underline">blog</a
			>?
		</p>
		<p class="mt-2">
			My journey in web development has taken me through the ins and outs
			of the stack, from the nitty-gritty of Git, PHP, HTML, CSS, and
			JavaScript, to the more modern React, Svelte, Astro, Next.JS, and
			WordPress. I'm a keen supporter of open source, and I love sharing
			my code on <a
				href="https://github.com/JacobWeinbren/"
				class="font-semibold underline">Github</a
			>.
		</p>
		<p class="mt-2">
			When it comes to backend, Python and Java are my preference. I
			thrive on the agile methodology, and I've got a solid grip on the
			tools that keep data and servers happy, like Docker, AWS, MySQL, and
			Google Analytics.
		</p>
		<p class="mt-2">
			My fascination with data visualisation has led me to explore the art
			of mapping and real-time charting, blending technical knowledge with
			a keen insight into cultural and literary narratives.
		</p>
		<p class="mt-2">
			Teamwork? Execution? I've sharpened these skills on the front lines
			of large-scale projects, proving that collaboration and precision
			are key to making magic happen.
		</p>
		<p class="mt-2">
			Got a project in mind, or just want to chat? I'm all ears! Drop me a
			line at <a
				href="mailto:jacobweinbren@gmail.com"
				class="font-semibold underline">jacobweinbren@gmail.com</a
			>.
		</p>
	</div>
</BaseLayout>
