---
import SignupForm from "@/components/SignupForm.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { Sparkle } from "lucide-react";
---

<BaseLayout title="Jacob Weinbren" description="An introduction to Jacob">
	<script src="https://cdn.lordicon.com/lordicon.js"></script>
	<div class="flex flex-col items-center justify-center">
		<h1
			class="mt-6 -mb-2 text-5xl md:-mb-4 lg:-mb-6 sm:text-6xl md:text-7xl lg:text-8xl sm:mt-16 md:mt-22 font-kafka"
		>
			Jacob Weinbren
		</h1>
		<Sparkle className="mt-2 mb-6 lg:invisible" strokeWidth={1.5} />
		<div
			class="grid grid-cols-1 lg:grid-cols-3 gap-5 text-center justify-items-center w-full max-w-[1000px]"
		>
			<div class="flex flex-col items-center lg:order-1">
				<Sparkle
					className="mt-2 mb-6 hidden lg:block"
					strokeWidth={1.5}
				/>
				<p
					class="text-sm text-center sm:text-base md:w-80 md:text-lg w-60"
				>
					Jacob Weinbren is a coder, blogger, and data storyteller
					from Milton Keynes.
				</p>
			</div>
			<div class="order-1 lg:order-2">
				<lord-icon
					src="https://cdn.lordicon.com/cfkyvikj.json"
					trigger="loop"
					stroke="light"
					colors="primary:#10B981,secondary:#10B981"
					class="w-40 h-40 -mb-4 -mt-7 lg:-mb-6 lg:-mt-10 lg:w-52 lg:h-52"
				>
				</lord-icon>
				<p
					class="text-sm text-center sm:text-base md:w-80 md:text-lg w-60"
				>
					(Jacob loves turtles)
				</p>
			</div>
			<div class="flex flex-col items-center lg:order-3">
				<Sparkle
					className="mt-2 mb-6 hidden lg:block"
					strokeWidth={1.5}
				/>
				<p
					class="text-sm text-center sm:text-base md:w-80 md:text-lg w-60"
				>
					Jacob is devoted about combining data and technology to
					create meaningful digital experiences.
				</p>
			</div>
		</div>
	</div>
</BaseLayout>
