---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout title="Jacob Weinbren" description="Jacob Weinbren's personal website">
	<main class="bg-green-500 h-full flex items-center justify-center p-4"> <!-- Removed flex-col and min-h-screen, changed padding -->
	  <div class="max-w-4xl w-full">
		<div class="flex flex-col md:flex-row gap-8 items-center">
          <div class="md:w-1/2">
            <h1 class="text-white font-bold text-5xl sm:text-6xl mb-6">Hello!</h1>
            <p class="text-white text-lg">
              I'm Jacob, a coder, blogger, and data storyteller from Milton Keynes. I combine data and tech to create digital experiences. Oh, and I love turtles!
            </p>
          </div>
          <div class="md:w-1/2 flex justify-center -m-10">
            <lord-icon
              src="https://cdn.lordicon.com/cfkyvikj.json"
              trigger="loop"
              colors="primary:#ffffff,secondary:#ffffff"
              style="width:300px;height:300px;"
            />
          </div>
        </div>
      </div>
    </div>
  </main>
</BaseLayout>

<script>
  import "https://cdn.lordicon.com/lordicon.js";
</script>