---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { getBlogPosts } from "@/lib/ghost";
import PostList from "@/components/PostList.astro";

const posts = await getBlogPosts(
	{
		title: true,
		slug: true,
		feature_image: true,
		excerpt: true,
		published_at: true,
	},
	4,
	"Project"
);
---

<BaseLayout
	title="Kafkaesque Blog"
	description="Discussion on Kafka, and personal home for projects"
>
	<div class="max-w-4xl px-4">
		<h1 class="font-bold text-7xl">Projects</h1>
		<p class="my-3 mb-8 text-2xl font-semibold text-muted-foreground">
			What I've been working on recently.
		</p>
		<PostList posts={posts} />
	</div>
</BaseLayout>
