---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { getBlogPosts } from "@/lib/ghost";
import { Separator } from "@/components/ui/separator";
import PostList from "@/components/PostList.astro";

const posts = await getBlogPosts(
	{
		title: true,
		slug: true,
		feature_image: true,
		excerpt: true,
		published_at: true,
	},
	4,
	"Project"
);
---

<BaseLayout
	title="Kafkaesque Blog"
	description="Discussion on Kafka, and personal home for projects"
>
	<h1 class="text-4xl">Projects</h1>
	<p class="text-2xl text-muted-foreground my-3">
		What I've been working on recently.
	</p>
	<Separator className="my-8 " />
	<PostList posts={posts} />
</BaseLayout>
