---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { Separator } from "@/components/ui/separator";
import SearchBox from "@/components/Search";
---

<BaseLayout title={`Search`} description="Search Kafkaesque Blog">
	<h1 class="text-4xl">Search</h1>
	<p class="text-2xl text-muted-foreground my-3">
		Look through my blog posts
	</p>
	<Separator className="my-8" />
	<div id="search-results"></div>
	<SearchBox client:only="react" />
</BaseLayout>
