---
import "@/styles/globals.css";
import { AstroFont } from "astro-font";

export interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props as Props;
---

<head>
	<title>{title}</title>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content={description} />
	<link
		rel="apple-touch-icon"
		sizes="180x180"
		href="src/favicon/apple-touch-icon.png"
	/>
	<link
		rel="icon"
		type="image/png"
		sizes="32x32"
		href="src/favicon/favicon-32x32.png"
	/>
	<link
		rel="icon"
		type="image/png"
		sizes="16x16"
		href="src/favicon/favicon-16x16.png"
	/>
	<link rel="manifest" href="src/favicon/site.webmanifest" />
	<AstroFont
		config={[
			{
				src: [],
				name: "Inter",
				display: "swap",
				selector: "html",
				fallback: "sans-serif",
				googleFontsURL:
					"https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap",
			},
		]}
	/>
</head>
