---
const currentYear = new Date().getFullYear();
---

<footer class="bg-white dark:bg-gray-800 py-8 px-4">
	<div class="max-w-7xl mx-auto text-center">
		<p class="text-gray-600 dark:text-gray-300">
			© {currentYear} Jacob Weinbren. Built with
			<a
				href="https://astro.build"
				class="font-bold text-green-500 hover:text-green-600"
				target="_blank"
				rel="noopener noreferrer"
			>
				Astro
			</a>.
			<div class="mt-4 space-x-6">
				<a
					href="https://github.com/JacobWeinbren"
					class="text-gray-600 dark:text-gray-300 hover:text-green-500"
					target="_blank"
					rel="noopener noreferrer"
				>
					GitHub
				</a>
				<a
					href="/blog"
					class="text-gray-600 dark:text-gray-300 hover:text-green-500"
				>
					Blog
				</a>
			</div>
		</p>
	</div>
</footer>
