---

---

<div class="text-sm flex flex-wrap h-20 py-6">
	<p>
		© 2024 Jacob Weinbren. Hosted on <a
			class="font-semibold underline"
			href="https://cloudflare.com/">Cloudflare</a
		>. Built using <a
			class="font-semibold underline"
			href="https://astro.build/">Astro</a
		>. Blog created on <a
			class="font-semibold underline"
			href="https://ghost.org/">Ghost</a
		> via <a class="font-semibold underline" href="digitalpress.blog"
			>Digital Press</a
		>. The source code is available on <a
			class="font-semibold underline"
			href="https://github.com/JacobWeinbren/Kafkaesque">GitHub</a
		>.
	</p>
</div>
