---

---

<div class="flex flex-wrap h-20 text-sm">
	<p>
		© 2024 Jacob Weinbren. Built using <a href="https://astro.build/"
			>Astro</a
		>. Blog created on <a href="https://ghost.org/">Ghost</a> via <a
			href="https://digitalpress.blog">Digital Press</a
		>. The source code is available on <a
			href="https://github.com/JacobWeinbren/Kafkaesque">GitHub</a
		>.
	</p>
</div>
