---

---

<div class="text-sm flex flex-wrap h-20 py-6">
	<p>© Kafkaesque.&nbsp;</p>

	<p>
		Hosted on <a class="font-semibold" href="https://cloudflare.com/"
			>Cloudflare</a
		>.&nbsp;
	</p>

	<p>
		Built using <a class="font-semibold" href="https://astro.build/"
			>Astro</a
		>.&nbsp;
	</p>

	<p>
		Blog created on <a class="font-semibold" href="https://ghost.org/">
			Ghost</a
		> via <a class="font-semibold" href="digitalpress.blog">Digital Press</a
		>.&nbsp;
	</p>

	<p>
		The source code is avaliable on <a
			class="font-semibold"
			href="https://github.com/JacobWeinbren/Kafkaesque">GitHub</a
		>.&nbsp;
	</p>
</div>
