---
import Head from "@/components/BaseHead.astro";
import Navbar from "@/components/Navbar.tsx";
import Footer from "@/components/Footer.astro";
import { ModeToggle } from "@/components/ModeToggle";
import { Button } from "@/components/ui/button";

const { title, description, image } = Astro.props;
---

<html lang="en">
	<Head title={title} description={description} image={image} />
	<body>
		<nav
			class="max-w-[1400px] px-8 mx-auto py-6 flex items-center h-20 justify-between"
		>
			<div class="flex items-center mr-2">
				<a href="/" class="mr-6 font-medium leading-5 !text-foreground"
					>Jacob Weinbren</a
				>
				<Navbar client:only="react" />
			</div>

			<div class="flex gap-2">
				<a href="/search">
					<Button variant="outline" client:only="react">
						Search
					</Button>
				</a>
				<ModeToggle client:only="react" />
			</div>
		</nav>

		<main class="max-w-4xl py-6 lg:py-10 mx-auto px-8">
			<slot />
		</main>

		<footer class="max-w-[1400px] px-8 mx-auto">
			<Footer />
		</footer>
	</body>
</html>
