---
import Head from "@/components/BaseHead.astro";
import Navbar from "@/components/Navbar.tsx";
const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<Head title={title} description={description} />
	<body>
		<nav>
			<Navbar client:idle />
		</nav>

		<main>
			<slot />
		</main>

		<footer>
			<p>© Kafkaesque Blog</p>
		</footer>
	</body>
</html>
