---
import Head from "@/components/BaseHead.astro";
import Navbar from "@/components/Navbar.tsx";
import Footer from "@/components/Footer.astro";
import { NextUIProvider } from "@nextui-org/react";

const { title, description, image } = Astro.props;
---

<html lang="en" class="absolute w-screen h-screen !m-0 !p-0">
	<Head title={title} description={description} image={image} />
	<body class="absolute w-screen h-screen !m-0 !p-0">
		<NextUIProvider client:visible>
			<nav
				class="max-w-[1400px] px-8 mx-auto py-6 flex items-center h-20 justify-between"
			>
				<Navbar client:only="react" />
			</nav>

			<main class="max-w-4xl py-6 lg:py-10 mx-auto px-8">
				<slot />
			</main>

			<footer class="max-w-[1400px] px-8 mx-auto">
				<Footer />
			</footer>
		</NextUIProvider>
	</body>
</html>
