---
import Head from "@/components/BaseHead.astro";
import Navbar from "@/components/Navbar.tsx";
import Footer from "@/components/Footer.astro";

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<Head title={title} description={description} />
	<body>
		<nav class="max-w-7xl px-8 mx-auto py-6 flex items-center h-20">
			<a href="/" class="mr-6 font-medium leading-5">Jacob Weinbren</a>
			<Navbar client:only="react" />
		</nav>

		<main class="max-w-4xl py-6 lg:py-10 mx-auto px-8">
			<slot />
		</main>

		<footer class="max-w-7xl px-8 mx-auto">
			<Footer />
		</footer>
	</body>
</html>
