---
import Head from "@/components/BaseHead.astro";
import Navbar from "@/components/Navbar.tsx";
import Footer from "@/components/Footer.astro";
import { ModeToggle } from "@/components/ModeToggle";
import { fade } from "astro:transitions";

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en" transition:animate={fade({ duration: "0.4s" })}>
	<Head title={title} description={description} />
	<body>
		<nav
			class="max-w-[1400px] px-8 mx-auto py-6 flex items-center h-20 justify-between"
		>
			<div class="flex items-center">
				<a href="/" class="mr-6 font-medium leading-5">Jacob Weinbren</a
				>
				<Navbar client:only="react" />
			</div>
			<div>
				<ModeToggle client:only="react" />
			</div>
		</nav>

		<main class="max-w-4xl py-6 lg:py-10 mx-auto px-8">
			<slot />
		</main>

		<footer class="max-w-[1400px] px-8 mx-auto">
			<Footer />
		</footer>
	</body>
</html>
