---
import Head from "@/components/BaseHead.astro";
import Navbar from "@/components/Navbar.svelte";
import Footer from "@/components/Footer.astro";

const { title, description, image } = Astro.props;
---

<html lang="en" class="h-full">
	<Head title={title} description={description} image={image} />
	<body class="flex flex-col h-screen">
		<Navbar client:load />
		<main class="flex-grow">
			<slot />
		</main>
		<Footer />
	</body>
</html>