---
import Head from "@/components/BaseHead.astro";
import Navbar from "@/components/Navbar";
import Footer from "@/components/Footer.astro";
import { SpeedInsights } from "@vercel/speed-insights/next";

const { title, description, image } = Astro.props;
const currentUrl = new URL(Astro.request.url, import.meta.url).pathname;
---

<html lang="en" class="absolute w-screen h-full !m-0 !p-0">
	<Head title={title} description={description} image={image} />
	<body class="absolute w-screen h-full !m-0 !p-0">
		<nav class="h-16 max-w-4xl mx-auto mb-8">
			<Navbar currentUrl={currentUrl} client:only="react" />
			<div class="shrink-0 bg-green-500 h-[1px] max-w-[1024px] mb-8 mx-4">
			</div>
		</nav>

		<main class="max-w-4xl px-4 py-6 mx-auto">
			<slot />
		</main>

		<footer class="max-w-4xl px-4 mx-auto mt-8">
			<Footer />
		</footer>
		<SpeedInsights />
	</body>
</html>
