---
import { AstroFont } from "astro-font";
import "@/styles/globals.css";

export interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props as Props;
---

<head>
	<title>{title}</title>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content={description} />
	<AstroFont
		config={[
			{
				src: [],
				name: "Inter",
				display: "swap",
				selector: "html",
				fallback: "sans-serif",
				googleFontsURL:
					"https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap",
			},
		]}
	/>
</head>
