---
import Head from "@/components/BaseHead.astro";
import Navbar from "@/components/Navbar.tsx";
import Footer from "@/components/Footer.astro";
import { ModeToggle } from "@/components/ModeToggle";
import { fade } from "astro:transitions";

const { title, description, image } = Astro.props;
---

<script is:inline>
	(function () {
		const THEME_KEY = "theme";
		const DARK_CLASS = "dark";
		const isLocalStorageAvailable = typeof localStorage !== "undefined";

		// Function to toggle dark theme on a document
		const toggleDarkTheme = (doc, isDark) => {
			doc.documentElement.classList[isDark ? "add" : "remove"](
				DARK_CLASS
			);
			if (isLocalStorageAvailable) {
				localStorage.setItem(THEME_KEY, isDark ? DARK_CLASS : "light");
			}
		};

		// Function to get the theme preference
		const getThemePreference = () => {
			if (isLocalStorageAvailable && localStorage.getItem(THEME_KEY)) {
				return localStorage.getItem(THEME_KEY) === DARK_CLASS;
			}
			return window.matchMedia("(prefers-color-scheme: dark)").matches;
		};

		// Initial theme application
		toggleDarkTheme(document, getThemePreference());

		// Event listener for theme changes (e.g., system theme change)
		window
			.matchMedia("(prefers-color-scheme: dark)")
			.addEventListener("change", (e) => {
				toggleDarkTheme(document, e.matches);
			});

		// Handle astro:before-swap event
		document.addEventListener("astro:before-swap", (ev) => {
			const newDocIsDark =
				document.documentElement.classList.contains(DARK_CLASS);
			toggleDarkTheme(ev.newDocument, newDocIsDark);
		});
	})();
</script>

<html lang="en" transition:animate={fade({ duration: "0.2s" })}>
	<Head title={title} description={description} image={image} />
	<body>
		<nav
			class="max-w-[1400px] px-8 mx-auto py-6 flex items-center h-20 justify-between"
		>
			<div class="flex items-center">
				<a href="/" class="mr-6 font-medium leading-5">Jacob Weinbren</a
				>
				<Navbar client:only="react" />
			</div>
			<div>
				<ModeToggle client:only="react" />
			</div>
		</nav>

		<main class="max-w-4xl py-6 lg:py-10 mx-auto px-8">
			<slot />
		</main>

		<footer class="max-w-[1400px] px-8 mx-auto">
			<Footer />
		</footer>
	</body>
</html>
