---
import Head from "@/components/BaseHead.astro";
import Navbar from "@/components/Navbar.tsx";

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<Head title={title} description={description} />
	<body>
		<nav class="max-w-7xl px-8 mx-auto py-6 flex items-center h-20">
			<div class="mr-6 font-medium leading-5">Jacob Weinbren</div>
			<Navbar client:only="react" />
		</nav>

		<main>
			<slot />
		</main>

		<footer>
			<p>© Kafkaesque Blog</p>
		</footer>
	</body>
</html>
